/*================ navbar part start here  =============*/
.socile_icon a{
    position: relative;
}
.socile_icon a p{
    position: absolute;
    background-color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    top: 60px;
    left: -18px;
    display: none;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    text-transform: capitalize;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.socile_icon a p::after{
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    background-color: #fff;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    left: 33px;
    top: -8px;
    transition: all linear .3s;
}
.socile_icon a:hover p{
    display: block;
}


/*================ navbar part End here  =============*/

/*================ About part start here  =============*/
.progras_bar{
    margin: 0 auto;
    background-color: rgb(31 41 55);
    height: 6px;
    width: 160px;
    border-radius: 30px;
    position: relative;
    margin-top: 10px;
}
.progras_bar::before{
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #f9004d;
    animation: feature 5s infinite;
    -webkit-animation: feature 5s infinite;
}
@keyframes feature {
    0%{left:0;
        
    }
    50%{left:145px;
        
    }
    100%{left: 0;
        
    }
}

.socile_icon_about a{
    position: relative;
}
.socile_icon_about a p{
    position: absolute;
    background-color: #222;
    padding: 8px 12px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    top: 60px;
    left: -18px;
    display: none;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    text-transform: capitalize;
    color: #fff;
    
}
.socile_icon_about a p::after{
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    background-color: #222;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    left: 33px;
    top: -8px;
    transition: all linear .3s;
}
.socile_icon_about a:hover p{
    display: block;
}
.bar2{
    background-color: #fff;
}
/*================ About part End here  =============*/